h1 {color: white;
	font-family:Abril Fatface;
	font-size: 70px;}
h2 {color: white;
	font-family:Courier New;
	font-weight: lighter;}
h3 {color: white;
	font-family:Courier New;
	font-weight: lighter;
	width: 623px;
	background: rgba(75, 75, 75, 0.5);
	border: 1px solid white;
	border-radius: 5px;
	text-align: center;
	}
ul {color: white;
    font-family:Georgia;
	margin-left: 100px;}
ol {color: white;
    font-family:Georgia;
	}
body {background: url("https://images.unsplash.com/photo-1414115880398-afebc3d95efc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=351469a7c85aa03f37da9f8f159ac5ab") repeat fixed center center / cover  rgba(0, 0, 0, 0);
	width: 960px;
    margin: auto;
	}

	
#title{background: rgba(75, 75, 75, 0.5);
    text-align: center;
	line-height: 150%;
    border: 2px solid white;
	border-radius: 5px;
	width: 600px;
	margin: 25px 0px 10px 160px;
	padding:10px;
	}
	
#content {width: 603px;
		border-radius: 5px;
		padding: 10px 0px 10px 0px; 
		background: rgba(75, 75, 75, 0.5);
		color: white;
		font-family:Georgia;
		margin: 0px 0px 0px 160px;
		padding: 10px;
		}
		
#links {text-align: center;
		width: 270px;
		height: 270px;
		background: white;
		border: 5px solid Grey;
		border-radius: 150px;
		padding: 5px;
		margin: 5px 0px 0px 330px; 
	}
	
.mywebsite {
	font-family: Abril Fatface;
	color: purple;
}
	
	
#credits {color: white;
    font-family:Georgia;
	text-align: center;}